@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}
body {
  background-color: hsl(0, 0%, 97%);
  font-size: 1.8rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h2 {
  font-size: 2.4rem;
  font-weight: 700;
}
.col {
  width: 35rem;
  height: 50rem;
  border-radius: 2.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col p {
  text-align: center;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
  width: 240px;
}
.col1 {
  padding: 2rem;

  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.col1 h2 {
  color: hsl(0, 0%, 100%);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.circle {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  text-align: center;
  padding-top: 3rem;
}
.circle h2 {
  font-weight: 800;
  font-size: 4.8rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
}
.circle p {
  width: 18rem;
}
#fh {
  color: hsla(0, 0%, 100%, 70%);
}

.col2 {
  background-color: white;
  justify-content: space-evenly;
}
.col2 h2 {
  align-self: flex-start;
  padding-left: 0.5rem;
}
.item {
  padding: 1.2rem;
  width: 30rem;
  height: 5rem;
  background-color: red;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}
.item1 {
  background-color: hsla(0, 100%, 67%, 8%);
  color: hsl(0, 100%, 67%);
}
.item2 {
  background-color: hsla(39, 100%, 56%, 8%);
  color: hsl(39, 100%, 56%);
}
.item3 {
  background-color: hsla(166, 100%, 37%, 8%);
  color: hsl(166, 100%, 37%);
}
.item4 {
  background-color: hsla(234, 85%, 45%, 8%);
  color: hsl(234, 85%, 45%);
}
svg {
  margin-right: 1.2rem;
}
.col22 {
  color: hsla(224, 30%, 27%, 50%);
}
.col22 b1 {
  color: hsl(224, 30%, 27%);
}
.btn {
  width: 25rem;
  height: 5rem;
  padding: 1.2rem 1rem;
  border-radius: 1.5rem;
  background-color: hsl(224, 30%, 27%);
  color: white;
  text-align: center;
  font-weight: 500;
}
.btn:hover {
  background-color: hsla(241, 72%, 46%, 1);
}
.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }
  main {
    flex-direction: column;
    width: 100vw;
    justify-content: start;
    align-items: center;
  }
  .attribution {
    font-size: 0.5rem;
  }
  .col {
    position: relative;
    top: -2rem;
  }
}
